@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-rerif;
	font-size: 14px;
	font-weight: 400;
	overflow-x: hidden;
	background-color: #f5fcfd;
}

h1 {
	margin-bottom: 10px;
	text-align: center;
}

label {
	margin-bottom: 5px;
	text-align: center;
}

.main {
	padding: 30px 0;
}

#form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px;
}

.form {
	display: flex;
	justify-content: center;
}

input, textarea {
	padding: 5px 15px;
	margin-bottom: 10px;
}

select {
	margin-bottom: 10px;
	min-width: 200px;
}

input:focus, select:focus, textarea:focus {
	outline-color:#0f7bff;
}

input[type=checkbox] {
	min-width: 0;
}

input[type=color] {
	min-width: 100px;
	outline: none;
}

textarea {
	max-width: 80%;
}

button {
	margin: 0 5px;
	padding: 10px 20px;
	margin-bottom: 10px;
	min-width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid transparent;
	border-radius: 20px;
	background-color: #0f7bff;
	color: #fff;
}

button:focus {
	outline:none;
}

button:hover {
	color: #0f7bff;
	background-color: #fff;
	border: 1px solid #0f7bff;
	box-shadow: 0px 0px 15px -2px #0f7bff;
}

button:active {
	color: #0f7bff;
	background-color: #fff;
	border: 1px solid #0f7bff;
	box-shadow: 0px 0px 15px -2px #0f7bff;
}

select option {
	margin-bottom: 2px;
}

#container__refs {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#container__refs input {
	margin-right: 10px;
}

.container__ref {
	display: flex;
	margin-bottom: 10px;
	flex-direction: column;
	align-items: center;
}

.container__ref a {
	margin: 0 10px;
}

.label__file {
	margin: 10px;
	border-radius: 20px;
	border: 1.5px solid #0f7bff;
	padding: 0;
	line-height: 40px;
	min-width: 150px;
	display: block;
}

.label__jsonFile {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 20px;
	background-color: #0f7bff;
	color: #fff;
	border: none;
	padding: 0 10px;
	line-height: 40px;
	max-width: 330px;
}

img {
	width: 32px;
	height: 32px;
	margin: 5px 15px;
}

input[type=file] {
	width: .1px;
	height: .1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

